/* [project]/src/Components/PlaceOrder/LoginStep/LoginModal.module.css [app-client] (css) */
.LoginModal-module__lK3gyG__login {
  background-color: var(--bg);
  width: 1200px;
  height: 90vh;
  display: flex;
  overflow-y: hidden;
}

.LoginModal-module__lK3gyG__login_left {
  background: linear-gradient(-40deg, #e55812 40%, #fff 140%);
  width: 35vw;
  height: 100vh;
}

.LoginModal-module__lK3gyG__login_left_header {
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.LoginModal-module__lK3gyG__login_left_header h1 {
  color: #fff;
}

.LoginModal-module__lK3gyG__login_right {
  margin: auto;
}

.LoginModal-module__lK3gyG__login_form {
  width: 25vw;
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.LoginModal-module__lK3gyG__textField, .LoginModal-module__lK3gyG__password_textField {
  width: 100%;
}

.LoginModal-module__lK3gyG__password_textField {
  position: relative;
  display: flex;
  align-items: center;
}

.LoginModal-module__lK3gyG__password_textField input {
  width: 100%;
  padding-right: 2.5rem;
}

.LoginModal-module__lK3gyG__icon {
  position: absolute;
  right: .75rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.LoginModal-module__lK3gyG__button, .LoginModal-module__lK3gyG__forgot_button {
  width: 100%;
}

.LoginModal-module__lK3gyG__google_button {
  width: 100%;
}

.LoginModal-module__lK3gyG__button button {
  width: 100%;
  background-color: var(--theme);
  color: #fff;
  border: none;
  height: 4vh;
  padding: 1.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 400;
}

.LoginModal-module__lK3gyG__google_button button {
  width: 100%;
  background-color: var(--bg);
  color: var(--theme);
  border: .5px solid var(--theme);
  height: 4vh;
  padding: 1.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
}

.LoginModal-module__lK3gyG__google_button button img {
  margin-left: 1rem;
  width: 1rem;
}

.LoginModal-module__lK3gyG__line {
  display: flex;
  align-items: center;
  width: 65%;
}

.LoginModal-module__lK3gyG__border_left, .LoginModal-module__lK3gyG__border_right {
  border: .2px solid #e5e7eb;
  width: 100%;
}

.LoginModal-module__lK3gyG__line_or {
  font-size: small;
  padding: 0 10px;
}

.LoginModal-module__lK3gyG__ellipses {
  position: relative;
  height: 100%;
}

.LoginModal-module__lK3gyG__ellipses_main {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  position: absolute;
  bottom: 55%;
}

.LoginModal-module__lK3gyG__ellipses_main img {
  opacity: .5;
}

.LoginModal-module__lK3gyG__ellipses_small {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  position: absolute;
  bottom: 65%;
  right: 13%;
}

.LoginModal-module__lK3gyG__ellipses_small {
  opacity: .7;
}

.LoginModal-module__lK3gyG__signup_option {
  cursor: pointer;
  margin-left: .5rem;
}

.LoginModal-module__lK3gyG__signup_option:hover {
  text-decoration: underline;
}

.LoginModal-module__lK3gyG__forgot_password {
  color: #000;
}

.LoginModal-module__lK3gyG__forgot_password a:hover {
  text-decoration: underline;
}

.LoginModal-module__lK3gyG__forgot_password a {
  color: var(--theme);
  margin-left: .5rem;
}

.LoginModal-module__lK3gyG__dont_have_account {
  text-align: center;
}

.LoginModal-module__lK3gyG__close_button {
  border: none;
  cursor: pointer;
  background-color: #f9eee9;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  position: relative;
  top: -30px;
  float: right;
}

.LoginModal-module__lK3gyG__close_button:hover {
  background-color: #eed6ca;
}

/*# sourceMappingURL=src_Components_PlaceOrder_LoginStep_LoginModal_module_b52d8e.css.map*/