/* [project]/src/Components/Auth/Login/Login.module.css [app-client] (css) */
.Login-module__ATPZUq__login {
  background-color: var(--bg);
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow-y: hidden;
}

.Login-module__ATPZUq__login_left {
  background: linear-gradient(-40deg, #e55812 40%, #fff 140%);
  width: 45vw;
  height: 100vh;
}

.Login-module__ATPZUq__login_form_heading {
  margin-top: -20px;
}

.Login-module__ATPZUq__brand_logo img {
  height: 120px;
}

.Login-module__ATPZUq__login_left_header {
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Login-module__ATPZUq__login_left_header h1 {
  color: #fff;
}

.Login-module__ATPZUq__login_right {
  margin: auto;
}

.Login-module__ATPZUq__login_form {
  width: 40vw;
  height: 64vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.Login-module__ATPZUq__textField, .Login-module__ATPZUq__password_textField {
  width: 65%;
}

.Login-module__ATPZUq__password_textField {
  position: relative;
  display: flex;
  align-items: center;
}

.Login-module__ATPZUq__password_textField input {
  width: 100%;
  padding-right: 2.5rem;
}

.Login-module__ATPZUq__icon {
  position: absolute;
  right: .75rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.Login-module__ATPZUq__button, .Login-module__ATPZUq__forgot_button {
  width: 65%;
}

.Login-module__ATPZUq__google_button {
  width: 65%;
}

.Login-module__ATPZUq__button button {
  width: 100%;
  background-color: var(--theme);
  color: #fff;
  border: none;
  height: 4vh;
  padding: 1.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 400;
}

.Login-module__ATPZUq__google_button button {
  width: 100%;
  background-color: var(--bg);
  color: var(--theme);
  border: .5px solid var(--theme);
  height: 4vh;
  padding: 1.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
}

.Login-module__ATPZUq__google_button button img {
  margin-left: 1rem;
  width: 1rem;
}

.Login-module__ATPZUq__line {
  display: flex;
  align-items: center;
  width: 65%;
}

.Login-module__ATPZUq__border_left, .Login-module__ATPZUq__border_right {
  border: .2px solid #e5e7eb;
  width: 100%;
}

.Login-module__ATPZUq__line_or {
  font-size: small;
  padding: 0 10px;
}

.Login-module__ATPZUq__ellipses {
  position: relative;
  height: 100%;
}

.Login-module__ATPZUq__ellipses_main {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  position: absolute;
  bottom: 25%;
}

.Login-module__ATPZUq__ellipses_main img {
  opacity: .5;
}

.Login-module__ATPZUq__ellipses_small {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  position: absolute;
  bottom: 33%;
  right: 12%;
}

.Login-module__ATPZUq__ellipses_small {
  opacity: .7;
}

.Login-module__ATPZUq__signup_option {
  cursor: pointer;
  margin-left: .5rem;
}

.Login-module__ATPZUq__signup_option:hover {
  text-decoration: underline;
}

.Login-module__ATPZUq__forgot_password {
  color: #000;
}

.Login-module__ATPZUq__forgot_password a:hover {
  text-decoration: underline;
}

.Login-module__ATPZUq__forgot_password a {
  color: var(--theme);
  margin-left: .5rem;
}

.Login-module__ATPZUq__dont_have_account {
  text-align: center;
}

.Login-module__ATPZUq__close_button {
  border: none;
  cursor: pointer;
  background-color: #f9eee9;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

/*# sourceMappingURL=src_Components_Auth_Login_Login_module_b52d8e.css.map*/