/* [project]/src/Components/Platform/Platform.module.css [app-client] (css) */
.Platform-module__yovCAa__platform {
  background-color: var(--background-platform);
  width: 100vw;
  min-height: 100vh;
  padding-bottom: 5rem;
}

.Platform-module__yovCAa__platform_container {
  width: 85%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.Platform-module__yovCAa__platforms {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.Platform-module__yovCAa__platform__header {
  display: flex;
  background-color: #fff;
  width: 75%;
  border: none;
  border-radius: 1rem;
  gap: 6rem;
  padding: 1rem;
}

.Platform-module__yovCAa__platforms_info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: 1rem;
  width: 75%;
}

.Platform-module__yovCAa__platforms_info p {
  color: #000;
}

.Platform-module__yovCAa__platforms_section {
  display: flex;
  width: 75%;
  gap: 1.5rem;
}

.Platform-module__yovCAa__filter_platforms {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.Platform-module__yovCAa__filter_name {
  background-color: #fff;
  border-radius: 1rem;
  padding: 12px 16px;
  text-align: center;
  cursor: pointer;
  width: 10rem;
  font-size: 12px;
  font-weight: 600;
  border: 1px solid #0000;
  box-shadow: 0 0 0 1px #0000000d;
}

.Platform-module__yovCAa__filter_name.Platform-module__yovCAa__active {
  border: 1px solid var(--theme);
}

.Platform-module__yovCAa__platforms_list {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  height: max-content;
}

.Platform-module__yovCAa__platform_item {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 8px;
  width: 232px;
  height: 122px;
  border: 1px solid #fff;
  gap: 1rem;
  padding: 1rem;
  justify-content: center;
  box-shadow: 0 0 0 1px #0000000d;
}

.Platform-module__yovCAa__platform_link {
  display: flex;
  justify-content: space-between;
}

.Platform-module__yovCAa__platform_link p {
  color: #000;
}

.Platform-module__yovCAa__platform_link img {
  cursor: pointer;
  width: 1rem;
  height: 1rem;
}

.Platform-module__yovCAa__line {
  width: 100vw;
  height: 1px;
  background-color: #0003;
  margin-left: -50vw;
  position: relative;
  left: 50%;
}

.Platform-module__yovCAa__platform__footer {
  margin-top: 30px;
  display: flex;
  background-color: #fff;
  width: 100%;
  border: none;
  border-radius: 1rem;
  gap: 6rem;
  padding: 1rem;
}

.Platform-module__yovCAa__place_order_btn {
  width: 45%;
  height: 6vh;
  background-color: var(--theme);
  font-weight: 400;
  font-size: medium;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

.Platform-module__yovCAa__place_order_btn span {
  font-weight: 600;
  font-size: 1rem;
  line-height: 18px;
  text-align: center;
  color: #fff;
}

.Platform-module__yovCAa__platform_img img {
  height: auto;
  max-width: 135px;
  max-height: 50px;
  width: auto;
}


/* [project]/src/Components/Header/Header.module.css [app-client] (css) */
.Header-module__uO3NCW__container {
  width: 85%;
  margin: auto;
}

.Header-module__uO3NCW__header {
  background-color: var(--bg);
  width: 100vw;
  height: 93vh;
}

.Header-module__uO3NCW__navbar {
  display: flex;
  justify-content: space-between;
}

.Header-module__uO3NCW__brand {
  margin-top: 20px;
}

.Header-module__uO3NCW__brand img {
  transition: transform .3s;
  transform: scale(1.5);
  height: 85px;
  mix-blend-mode: multiply;
}

.Header-module__uO3NCW__navlinks {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.Header-module__uO3NCW__navlinks li {
  margin: 0 20px;
  font-weight: 400;
}

.Header-module__uO3NCW__navlinks li > a {
  color: var(--text);
  text-decoration: none !important;
}

.Header-module__uO3NCW__navlinks input {
  margin: 0 20px;
}

.Header-module__uO3NCW__navlinks div {
  margin: 0 20px;
}

.Header-module__uO3NCW__profileWrapper {
  position: relative;
  cursor: pointer;
}

.Header-module__uO3NCW__profile {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
}

.Header-module__uO3NCW__dropdownMenu {
  position: absolute;
  top: 2.5rem;
  background-color: #fff;
  box-shadow: 0 2px 5px #0000001a;
  border-radius: 5px;
  z-index: 1000;
}

.Header-module__uO3NCW__logoutBtn {
  padding: 10px 20px;
  background-color: #fff;
  color: var(--theme);
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: left;
  font-weight: 400;
  font-size: 1rem;
  box-shadow: 0 2px 8px #63636333;
}

.Header-module__uO3NCW__logoutBtn:hover {
  background-color: var(--theme);
  color: #fff;
}

.Header-module__uO3NCW__cart {
  display: flex;
  align-items: center;
}

.Header-module__uO3NCW__header_content {
  display: flex;
  flex-direction: column;
}

.Header-module__uO3NCW__header_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -5%);
  text-align: center;
}

.Header-module__uO3NCW__header_main {
  font-size: 2rem;
  width: 60%;
  text-wrap: wrap;
  text-align: center;
}

.Header-module__uO3NCW__header_main h2 {
  font-size: 3rem;
}

.Header-module__uO3NCW__header_paragraph {
  width: 80%;
}

.Header-module__uO3NCW__header_input {
  width: 90%;
  display: flex;
  justify-content: space-around;
  margin: auto;
}

.Header-module__uO3NCW__header_input .Header-module__uO3NCW__place_order_btn {
  width: 45%;
  height: 6vh;
  background-color: var(--theme);
  font-weight: 400;
  font-size: medium;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

.Header-module__uO3NCW__header_input .Header-module__uO3NCW__place_order_btn span {
  font-weight: 600;
  font-size: 1rem;
  line-height: 18px;
  text-align: center;
  color: #fff;
}

.Header-module__uO3NCW__header_input .Header-module__uO3NCW__explore_btn {
  width: 45%;
  height: 6vh;
  background-color: var(--bg);
  font-weight: 400;
  font-size: medium;
  border: 1px solid #46464633;
  cursor: pointer;
  border-radius: 8px;
}

.Header-module__uO3NCW__header_input .Header-module__uO3NCW__explore_btn span {
  font-weight: 600;
  font-size: 1rem;
  line-height: 18px;
  text-align: center;
  color: var(--theme);
}

.Header-module__uO3NCW__header_img img {
  width: 100vw;
}

.Header-module__uO3NCW__hamburger {
  display: none;
}

.Header-module__uO3NCW__header_main_input {
  width: 100%;
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  align-items: center;
}

.Header-module__uO3NCW__question_mark {
  background-color: #e5e7eb;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Header-module__uO3NCW__question_mark:hover {
  background-color: #f3f4f6;
}

.Header-module__uO3NCW__how_it_works .Header-module__uO3NCW__label:hover, .Header-module__uO3NCW__platforms .Header-module__uO3NCW__label:hover, .Header-module__uO3NCW__about_us .Header-module__uO3NCW__label:hover, .Header-module__uO3NCW__login .Header-module__uO3NCW__label:hover {
  color: var(--theme);
  font-weight: 600 !important;
}

.Header-module__uO3NCW__bulk_order span {
  color: #464646;
  cursor: pointer;
}

.Header-module__uO3NCW__bulk_order span:hover {
  color: var(--theme);
  font-weight: 600 !important;
}

.Header-module__uO3NCW__on_works_page .Header-module__uO3NCW__label, .Header-module__uO3NCW__on_platforms_page .Header-module__uO3NCW__label, .Header-module__uO3NCW__on_about_page .Header-module__uO3NCW__label {
  color: var(--theme);
  font-weight: 600 !important;
}

@media screen and (width <= 480px) {
  .Header-module__uO3NCW__header {
    height: 27vh;
  }

  .Header-module__uO3NCW__navbar {
    flex-direction: column;
  }

  .Header-module__uO3NCW__hamburger {
    display: block;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    left: 85vw;
    top: 2.5vh;
  }

  .Header-module__uO3NCW__navlinks {
    display: none;
    flex-direction: column;
    background-color: #fff;
    width: 100vw;
    height: 30vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }

  .Header-module__uO3NCW__navlinks.Header-module__uO3NCW__open {
    display: flex;
  }

  .Header-module__uO3NCW__navlinks li {
    margin: 10px auto;
  }

  .Header-module__uO3NCW__navlinks li a {
    color: var(--text);
  }

  .Header-module__uO3NCW__brand img {
    width: 200px;
  }

  .Header-module__uO3NCW__header_main {
    font-size: 10px;
    width: 100%;
  }

  .Header-module__uO3NCW__header_paragraph {
    width: 100%;
  }

  .Header-module__uO3NCW__header_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -5%);
    text-align: center;
  }

  .Header-module__uO3NCW__header_paragraph {
    font-size: 12px;
  }

  .Header-module__uO3NCW__navbar_close {
    width: 80%;
    display: flex;
    justify-content: flex-end;
  }
}


/* [project]/src/Components/BulkOrder/BulkOrder.module.css [app-client] (css) */
.BulkOrder-module__rOtfeW__modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00000080;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.BulkOrder-module__rOtfeW__modal {
  background-color: var(--background-bulk);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px #0000001a;
  width: 600px;
  max-width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.BulkOrder-module__rOtfeW__modal_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.BulkOrder-module__rOtfeW__modal_header h2 {
  color: #464646;
  size: 36px;
  font-weight: 500;
  line-height: 54px;
}

.BulkOrder-module__rOtfeW__modal_header button {
  border: none;
  cursor: pointer;
  background-color: #f9eee9;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.BulkOrder-module__rOtfeW__modal_header button:hover {
  background-color: #f1ac8e;
}

.BulkOrder-module__rOtfeW__submitBtn {
  display: flex;
  gap: .8rem;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  background-color: #ff4d4d;
}

.BulkOrder-module__rOtfeW__submitBtn .BulkOrder-module__rOtfeW__btnLabel {
  color: #fff;
}

.BulkOrder-module__rOtfeW__submitBtn .BulkOrder-module__rOtfeW__spinner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.BulkOrder-module__rOtfeW__directBtn {
  background-color: #fff;
  color: #000;
  padding: 10px 20px;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  width: 100%;
  display: flex;
  gap: .5rem;
  align-items: center;
  justify-content: center;
}

.BulkOrder-module__rOtfeW__modal_inputs {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-top: 2rem;
}

.BulkOrder-module__rOtfeW__name_field {
  width: 100%;
}

.BulkOrder-module__rOtfeW__input_field {
  width: 50%;
}

.BulkOrder-module__rOtfeW__form_zip_city {
  display: flex;
  gap: 2rem;
}

.BulkOrder-module__rOtfeW__modal_actions {
  display: flex;
  gap: 1rem;
  width: 100%;
  justify-content: space-between;
}

.BulkOrder-module__rOtfeW__modal_login {
  background-color: var(--background-bulk);
  border-radius: 8px;
  box-shadow: 0 4px 6px #0000001a;
  width: 800px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.BulkOrder-module__rOtfeW__modal_container {
  height: 100vh;
  width: 100vw;
}

.BulkOrder-module__rOtfeW__proceedBtn {
  width: 100%;
  background-color: var(--theme);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  width: 100%;
}

.BulkOrder-module__rOtfeW__modal_actions a {
  text-decoration: none;
  display: inline-block;
  width: 50%;
}


/* [project]/src/Components/Spinner/Spinner.module.css [app-client] (css) */
.Spinner-module__SkEkQW__loaderStyles {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-inline-end: .75rem;
  color: #fff;
  animation: 1s linear infinite Spinner-module__SkEkQW__spin;
}

@keyframes Spinner-module__SkEkQW__spin {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}


/*# sourceMappingURL=src_Components_ef06d6._.css.map*/
