/* [project]/src/Components/Header/Header.module.css [app-client] (css) */
.Header-module__uO3NCW__container {
  width: 85%;
  margin: auto;
}

.Header-module__uO3NCW__header {
  background-color: var(--bg);
  width: 100vw;
  height: 93vh;
}

.Header-module__uO3NCW__navbar {
  display: flex;
  justify-content: space-between;
}

.Header-module__uO3NCW__brand {
  margin-top: 20px;
}

.Header-module__uO3NCW__brand img {
  transition: transform .3s;
  transform: scale(1.5);
  height: 85px;
  mix-blend-mode: multiply;
}

.Header-module__uO3NCW__navlinks {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.Header-module__uO3NCW__navlinks li {
  margin: 0 20px;
  font-weight: 400;
}

.Header-module__uO3NCW__navlinks li > a {
  color: var(--text);
  text-decoration: none !important;
}

.Header-module__uO3NCW__navlinks input {
  margin: 0 20px;
}

.Header-module__uO3NCW__navlinks div {
  margin: 0 20px;
}

.Header-module__uO3NCW__profileWrapper {
  position: relative;
  cursor: pointer;
}

.Header-module__uO3NCW__profile {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
}

.Header-module__uO3NCW__dropdownMenu {
  position: absolute;
  top: 2.5rem;
  background-color: #fff;
  box-shadow: 0 2px 5px #0000001a;
  border-radius: 5px;
  z-index: 1000;
}

.Header-module__uO3NCW__logoutBtn {
  padding: 10px 20px;
  background-color: #fff;
  color: var(--theme);
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: left;
  font-weight: 400;
  font-size: 1rem;
  box-shadow: 0 2px 8px #63636333;
}

.Header-module__uO3NCW__logoutBtn:hover {
  background-color: var(--theme);
  color: #fff;
}

.Header-module__uO3NCW__cart {
  display: flex;
  align-items: center;
}

.Header-module__uO3NCW__header_content {
  display: flex;
  flex-direction: column;
}

.Header-module__uO3NCW__header_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -5%);
  text-align: center;
}

.Header-module__uO3NCW__header_main {
  font-size: 2rem;
  width: 60%;
  text-wrap: wrap;
  text-align: center;
}

.Header-module__uO3NCW__header_main h2 {
  font-size: 3rem;
}

.Header-module__uO3NCW__header_paragraph {
  width: 80%;
}

.Header-module__uO3NCW__header_input {
  width: 90%;
  display: flex;
  justify-content: space-around;
  margin: auto;
}

.Header-module__uO3NCW__header_input .Header-module__uO3NCW__place_order_btn {
  width: 45%;
  height: 6vh;
  background-color: var(--theme);
  font-weight: 400;
  font-size: medium;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

.Header-module__uO3NCW__header_input .Header-module__uO3NCW__place_order_btn span {
  font-weight: 600;
  font-size: 1rem;
  line-height: 18px;
  text-align: center;
  color: #fff;
}

.Header-module__uO3NCW__header_input .Header-module__uO3NCW__explore_btn {
  width: 45%;
  height: 6vh;
  background-color: var(--bg);
  font-weight: 400;
  font-size: medium;
  border: 1px solid #46464633;
  cursor: pointer;
  border-radius: 8px;
}

.Header-module__uO3NCW__header_input .Header-module__uO3NCW__explore_btn span {
  font-weight: 600;
  font-size: 1rem;
  line-height: 18px;
  text-align: center;
  color: var(--theme);
}

.Header-module__uO3NCW__header_img img {
  width: 100vw;
}

.Header-module__uO3NCW__hamburger {
  display: none;
}

.Header-module__uO3NCW__header_main_input {
  width: 100%;
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  align-items: center;
}

.Header-module__uO3NCW__question_mark {
  background-color: #e5e7eb;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Header-module__uO3NCW__question_mark:hover {
  background-color: #f3f4f6;
}

.Header-module__uO3NCW__how_it_works .Header-module__uO3NCW__label:hover, .Header-module__uO3NCW__platforms .Header-module__uO3NCW__label:hover, .Header-module__uO3NCW__about_us .Header-module__uO3NCW__label:hover, .Header-module__uO3NCW__login .Header-module__uO3NCW__label:hover {
  color: var(--theme);
  font-weight: 600 !important;
}

.Header-module__uO3NCW__bulk_order span {
  color: #464646;
  cursor: pointer;
}

.Header-module__uO3NCW__bulk_order span:hover {
  color: var(--theme);
  font-weight: 600 !important;
}

.Header-module__uO3NCW__on_works_page .Header-module__uO3NCW__label, .Header-module__uO3NCW__on_platforms_page .Header-module__uO3NCW__label, .Header-module__uO3NCW__on_about_page .Header-module__uO3NCW__label {
  color: var(--theme);
  font-weight: 600 !important;
}

@media screen and (width <= 480px) {
  .Header-module__uO3NCW__header {
    height: 27vh;
  }

  .Header-module__uO3NCW__navbar {
    flex-direction: column;
  }

  .Header-module__uO3NCW__hamburger {
    display: block;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    left: 85vw;
    top: 2.5vh;
  }

  .Header-module__uO3NCW__navlinks {
    display: none;
    flex-direction: column;
    background-color: #fff;
    width: 100vw;
    height: 30vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }

  .Header-module__uO3NCW__navlinks.Header-module__uO3NCW__open {
    display: flex;
  }

  .Header-module__uO3NCW__navlinks li {
    margin: 10px auto;
  }

  .Header-module__uO3NCW__navlinks li a {
    color: var(--text);
  }

  .Header-module__uO3NCW__brand img {
    width: 200px;
  }

  .Header-module__uO3NCW__header_main {
    font-size: 10px;
    width: 100%;
  }

  .Header-module__uO3NCW__header_paragraph {
    width: 100%;
  }

  .Header-module__uO3NCW__header_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -5%);
    text-align: center;
  }

  .Header-module__uO3NCW__header_paragraph {
    font-size: 12px;
  }

  .Header-module__uO3NCW__navbar_close {
    width: 80%;
    display: flex;
    justify-content: flex-end;
  }
}

/*# sourceMappingURL=src_Components_Header_Header_module_b52d8e.css.map*/